html, body {
  color: #fff;
  background-color: #000;
  font-family: 'Righteous', sans-serif;
  background-image: url('/img/fondohalo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 0;
}

#Calculator {
  font-size: 0.6rem;
}

.trooper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:rgba(0, 0, 0, 0.5);
  margin-bottom: 12px;
  align-items: center;
}

.profile {
  display: grid;
}

.attributes, .stats {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.trooper .name {
  text-align: left;
}

#weapons {
  width: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}

#weapons th {
  color: #fff;
}

.rangeBands .standard {
  grid-area: standard-range;
}

.rangeBands .extreme {
  grid-area: extreme-range;
}

.rangeBands {
  display: grid;
  grid-template-columns: repeat(12, 1fr) repeat(12, 0.5fr);
}

th.rangeBands #first {
  text-align: left;
}

th.rangeBands {
  text-indent: 0;
  padding: 0;
}

th.rangeBands div {
  visibility: visible;
  direction: rtl;
  text-align: right;
  text-indent: -0.5em;
}

.Weapon-name {
  text-align: left;
}

#weapons tbody {
  color: #fff;
  text-align: center;
}

.rangeBands .band {
  border-right: 1px solid #000;
  color: #000;
}

.rangeBands .range-8 {
  grid-column: span 2;
}

.rangeBands .range-16 {
  grid-column: span 4;
}

.rangeBands .range-24 {
  grid-column: span 6;
}

.outOfRange {
  filter: brightness(0.4);
}


.rangeBands .range-32 {
  grid-column: span 8;
}
.rangeBands .range-48 {
  grid-column: span 12;
}

.rangeBands .good {
  background-color: #3fa535;
}

.rangeBands .zero {
  background-color: #009fe3;
}

.rangeBands .bad {
  background-color: #fcc002;
}

.rangeBands .worst {
  background-color: #cd171a;
}

#cover {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(50px, max-content);
  text-align: center;
}

#cover input {
  display: inline-block;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
}

#result {
  display: grid;
  text-align: center;
  font-size: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#result #crit {
  grid-column: span 2;
  font-size: 1rem;
}
